@import "bootstrap/scss/bootstrap";

*{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  color: rgb(95, 95, 95);
}

.logo-slogan{
  color: rgba(170, 170, 170, 0.67);
  font-size: medium;
}

h5, h6{
  font-weight: bold;
}

.error{
  color: red;
}
